[Unit]
Description=Zeromon bootstrap
ConditionPathExists=!/etc/systemd/system/multi-user.target.wants/zabbix-server.service
ConditionPathExists=!/etc/systemd/system/multi-user.target.wants/zabbix-agent.service
ConditionPathExists=!/root/zabbix_admin_password

[Service]
Type=simple
ExecStart=/usr/local/bin/zeromon.sh

[Install]
WantedBy=multi-user.target
