[Unit]
Description=Zeromon bootstrap
ConditionPathExists=/etc/zabbix/web/zabbix.conf.php

[Service]
Type=simple
ExecStart=bash /usr/local/bin/zeromon.sh

[Install]
WantedBy=multi-user.target
