{{ ansible_managed | comment(decoration="-- ") }}
INSERT INTO `media_type` VALUES (4,1,'Slack','','','','slack.sh','','','',1,25,0,0,0,0,'{ALERT.SENDTO}\n{ALERT.SUBJECT}\n{ALERT.MESSAGE}\nhttps://\n',1,3,'10s');
INSERT INTO `media` VALUES (2,1,4,'#changeme',1,63,'1-7,00:00-24:00');
