{{ ansible_managed | comment(decoration="-- ") }}
INSERT INTO `media_type` (`mediatypeid`, `type`, `description`, `smtp_server`, `smtp_helo`, `smtp_email`, `exec_path`, `gsm_modem`, `username`, `passwd`, `status`, `smtp_port`, `smtp_security`, `smtp_verify_peer`, `smtp_verify_host`, `smtp_authentication`, `exec_params`, `maxsessions`, `maxattempts`, `attempt_interval`, `content_type`) VALUES ('4', '1', 'Slack', '', '', '', 'slack.sh', '', '', '', '1', '25', '0', '0', '0', '0', '{ALERT.SENDTO}\n{ALERT.SUBJECT}\n{ALERT.MESSAGE}\nhttps://CHANGEME', '1', '3', '10s', '0');
INSERT INTO `media` (`mediaid`, `userid`, `mediatypeid`, `sendto`, `active`, `severity`, `period`) VALUES ('1', '1', '4', '#CHANGEME', '1', '63', '1-7,00:00-24:00');
