{{ ansible_managed | comment(decoration="-- ") }}
UPDATE `zabbix`.`media_type` SET `smtp_server` = 'localhost' WHERE `mediatypeid` = 1;
UPDATE `zabbix`.`media_type` SET `smtp_helo` = '{{ ansible_fqdn }}' WHERE `mediatypeid` = 1;
UPDATE `zabbix`.`media_type` SET `smtp_email` = 'zabbix@{{ ansible_fqdn }}' WHERE `mediatypeid` = 1;
UPDATE `zabbix`.`actions` SET `status` = 0 WHERE `actionid` = 3;
INSERT INTO `media` VALUES (1,1,1,'changeme@example.com',1,63,'1-7,00:00-24:00');
