# ~/.profile: executed by Bourne-compatible login shells.

{{ ansible_managed | comment }}

if [ "$BASH" ]; then
  if [ -f ~/.bashrc ]; then
    . ~/.bashrc
  fi

  if [ -f ~/.zeromon ]; then
    . ~/.zeromon
  fi
fi

mesg n || true
